@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url('/images/texture.png') center/cover no-repeat;
  display: flex;
  flex-direction: column;
}

.hero-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
}

.hero-left {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-beans {
  width: 400px;
  z-index: 2;
  left: -660px;
  top: -200px;
  position: absolute;
  rotate: 110deg;
}

.bean {
  position: absolute;
  width: 260px;
  height: auto;
  z-index: 100;
}
.beans {
    position: absolute;
    width: 460px;
    height: auto;
    z-index: 100;
  }
.bean1 { top: 240px; left: 330px; }
.bean2 { bottom: 40px; left: 100px; }
.bean3 { top: 100px; right: 130px; }
.bean4 { bottom: 20px; right: 40px; }
.bean5 { top: 440px; left: 20px; }
.bean6 { bottom: -250px; left: 500px; }
.bean7 { top: 500px; right: 330px; }
.bean8 { bottom: 220px; right: 40px; }
.bean9 { top: -80px; left: 620px; }
.bean10 { bottom: -550px; left: 500px; }
.bean11 { top: 500px; right: 570px; }
.bean12 { bottom:380px; right: 40px; }

.hero-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  color: #3D2A1C;
  padding: 20px;
 
}

.hero-content h1 {
  font-family: 'Rowdies', cursive;
  font-size: 9rem;
  margin-bottom: 16px;
  color: #F5DEB3;
  opacity: 80%; 
  position: absolute;
  top: 350px;
  left: 470px;
}

.hero-content p {
  font-size: 2.2rem;
  margin-bottom: 24px;
  color: #F5DEB3;
  position: absolute;
  top: 550px;
  left: 530px;
  font-family: 'Comic Neue', cursive, 'Quicksand', sans-serif;

}

.hero-btn {
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  background: #d4a373;
  color: #3D2A1C;
  font-weight: 600;
  font-size: 1.4rem;
  position: absolute;
  left: 800px;
  top: 650px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-btn:hover {
  background: #3D2A1C;
  color: #fff;
}
/* Section1 */
.section1 {
    position: relative;
    width: 100%;
    height: 175vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .section1-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/images/texture2.png") center/cover no-repeat;
    z-index: -1;
  }
  
  .section1 .paper {
    position: absolute;
    top: 100px;
    width: 25%;
    left: 140px;
    max-width: 900px;
    height: auto;
    object-fit: contain;
    z-index: 999;
  }
  .machine{
    width: 33%;
    position: absolute;
    left: 60px;
    top: 350px;
    z-index: 999;
  }
  .es{
    font-family: 'Rowdies', cursive;
    font-size: 9rem;
    margin-bottom: 16px;
    color: #F5DEB3;
    opacity: 80%; 
    position: absolute;
    transform: rotate(90deg);
    left: -340px;
    top: 490px;
    opacity: 30%;
  }
  .cup{
    width: 13%;
    position: absolute;
    left: 226px;
    top: 710px;
    z-index: 99999;


  }
  .stream{
    position: absolute;
    width: 7%;
    height: 4%;
    left: 270px;
    top: 806px;
    z-index: 99999;
  }
  .text{
    position: absolute;
    top: 100px;
    width: 1900px;
  }
  .text h2{
    font-family: 'Rowdies', cursive;
    font-size: 7rem;
    margin-bottom: 16px;
    color: #F5DEB3;
    position: absolute;
    left: -350px;
    top: 40px;
  }
  .text p{
    font-family: 'Comic Neue', cursive, 'Quicksand', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 16px;
    color: #F5DEB3;
    position: absolute;
    width: 900px;
    left: -100px;
    top: 270px;
    line-height: 60px;
  }
  .two h1{
    font-family: 'Comic Neue', cursive, 'Quicksand', sans-serif;
    font-size: 3.2rem;
    margin-bottom: 16px;
    color: #F5DEB3;
    position: absolute;
    bottom: 80px;
    left: 460px;
  }